.header,.hero,.body,.bar,.footer{
    margin-bottom: 10px;
    background-color: gold;
}
.box{
    margin:10px 0;
    padding: 5px;
    background-color: lightseagreen;
    min-height: 80px;
    font-size: 30px;
    color: white;
    border: 2px solid black;
}
.red{
    background-color: red;
}
.five{
    background-color:purple;
}